.home {
  height: 100vh;
  padding: var(--spacer);
}
.drop-zone {
  background-color: var(--app-background);
  border: 2px dashed var(--accent3);
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
  transition: background-color 160ms ease-in;
  width: calc(100% - 300px);
}
.dragging {
  background-color: var(--accent6);
  transition: background-color 160ms ease-out;
}
