.styled-input {
  background-color: var(--accent6);
  border: 1px solid var(--accent6);
  border-radius: var(--spacer-half);
  color: var(--app-text);
  font-size: calc(var(--spacer) - (var(--spacer) / 8));
  outline: none;
  padding: var(--spacer);
  transition: background-color 160ms ease-in, border 160ms ease-in, color 160ms ease-in;
}
.disabled {
  background-color: var(--muted-background);
  border: 1px solid var(--muted-background);
  color: var(--muted-text);
  transition: background-color 160ms ease-out, border 160ms ease-out, color 160ms ease-out;
}
.error {
  border: 1px solid var(--error);
  transition: border 160ms ease-out;
}
.success {
  border: 1px solid var(--success);
  transition: border 160ms ease-out;
}
